<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Expert.Properties.Settings.ExpertConnectionString"
            connectionString="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xA;&lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xA;  &lt;ConnectionString&gt;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\Expert.mdf;Integrated Security=True&lt;/ConnectionString&gt;&#xA;  &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;&#xA;&lt;/SerializableConnectionString&gt;"
            providerName="" />
        <add name="Expert.Properties.Settings.ExpertConnectionString1"
            connectionString="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xA;&lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xA;  &lt;ConnectionString&gt;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\Expert.mdf;Integrated Security=True;Connect Timeout=30&lt;/ConnectionString&gt;&#xA;  &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;&#xA;&lt;/SerializableConnectionString&gt;"
            providerName="" />
    </connectionStrings>
    <connectionStrings>
        <add name="Expert.Properties.Settings.ExpertConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\Expert.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Expert.Properties.Settings.ExpertConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\Expert.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>